
@import './upload-image';

.field-required {
    display: inline-block;
    margin-left: 3px;
    &:after {
        content: '*';
        font-size: 16px;
        color: red;
        display: inline-block;
    }
}


// textarea-form
.textarea-form {
    max-height: 300px;
    min-height: 150px;
}

// style map
.myMap {
    position: relative;
    margin: 10px auto;
    padding: 3px;
    background-color: #444;
    border-radius: 5px;
    #map {
        width: 100%;
        height: 400px;
    }
    .info-map {
        font-size: 14px;
        color: #3498db;
        padding: 5px;
    }
    #floating-panel {
        width: 300px;
        background-color: #FFF;
        padding: 8px;
        border-radius: 6px;
        box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
        position: absolute;
        top: 60px;
        left: 50%;
        margin-left: -150px;
        z-index: 60;
        direction: rtl;
        #address {
            width: 100%;
        }
        .error-location {
            display: none;
            width: 100%;
            color: red;
            font-size: 12px;
            padding-top: 3px;
        }
    }
}


.form-product {
    label {
        -webkit-user-select: none;
        user-select: none;
    }
    .checkbox-percent {
        position: relative;
        top: 15px;
        left: 5px;
    }
    .show-new-price {
        padding: 5px;
        padding-left: 15px;
        > span {
            display: inline-block;
            font-weight: bold;
            margin: 0 4px;
            color: #000;
            font-size: 12px;
        }
        .operator {
            font-size: 16px;
        }
        .price, .discount, .result {
            background-color: #2c3e50;
            padding: 1px 6px;
            border-radius: 3px;
            color: #FFF;
            min-width: 40px;
            text-align: center;
        }
        .result {
            background-color: #16a085;
        }
    }

    // style details products

    .wrapper-details-product {
        .row-table-label {
            .col-details {
                text-align: center;
            }
        }
        .form-row {
            &.form-data {
                margin: 15px 0;
                background-color: #EEE;
                padding: 5px;
                padding-top: 9px;
                border-radius: 4px;
            }
            .col-details {
                margin-bottom: 5px;
                .action {
                    text-align: center;
                    padding: 8px;
                    .checkbox-display-details {
                        position: relative;
                        top: -5px;
                        left: 5px;
                        @media (max-width: 768px) {
                            float: right;
                        }
                    }
                    .plus-more-details {
                        cursor: pointer;
                        @media (max-width: 768px) {
                            float: left;
                        }
                    }
                }
            }
        }
    }

}



.wrapper-internal-form {
    // global style
    .title-internal-form {

        > span {
            font-weight: 100;
            font-size: 13px;
            color: #ca2b2b;
            display: inline-block;
            margin: 0 5px;
        }
    }

    .internal-label {
        display: block;
        font-size: 13px;
        color: #666;
        margin-bottom: -5px;
    }

    &.form-offers {
        margin-top: 20px;
        .form-row {
            background-color: #f9f9f9;
            padding: 15px;
            border: 2px solid #DDD;
            border-radius: 3px;
            margin-bottom: 30px;
            &.is-invalid {
                border-color: red;
            }
            .form-group {
                &.required {
                    position: relative;
                    &:after {
                        content: '*';
                        display: block;
                        font-size: 18px;
                        font-weight: bold;
                        color: red;
                        position: absolute;
                        top: -1px;
                        left: 10px;
                    }
                }
            }
            .offer-title {
                display: block;
                margin-bottom: 10px;
                .title {
                    background-color: #2c3e50;
                    color: #FFF;
                    padding: 10px 20px;
                    display: inline-block;
                    font-weight: bold;
                    font-size: 16px;
                    border-radius: 3px;
                }
            }

            .offer-date {
                &.is-invalid {
                    .mx-input {
                        border-color: #e3342f;
                        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23e3342f' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23e3342f' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E");
                        background-repeat: no-repeat;
                        background-position: center right 28px;
                        background-size: calc(0.8em + 0.375rem) calc(0.8em + 0.375rem);
                        padding-right: 50px;
                    }
                    ~ .invalid-feedback {
                        display: block !important;
                    }
                }
                .mx-input {
                    height: 37px;
                }
            }

            .add-new-offer {
                float: left;
                margin-top: 10px;
            }
        }
    }
}
