
// style photos
.wrapper-drop-image {
    min-height: 250px;
    border: 4px dashed #999;
    margin: 10px 0 20px 0;
    transition: all 0.1s ease-in-out;
    position: relative;
    background-color: #EEE;
    .help-block.invalid-feedback {
        position: relative;
        top: 32px;
        font-size: 13px;
    }
    .overlay-drop-image {
        z-index: 10;
        transition: all 0.1s ease-in-out;
        transform-origin: center center;
        width: 100%;
        min-height: 250px;
        .view-overlay {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            min-height: 250px;
            cursor: pointer;
            margin: 0;
            .content-overlay {
                color: #999;
                text-align: center;
                transition: all 0.1s ease-in-out;
                .icon {
                    font-size: 100px;
                    display: block;
                }
                .title {
                    display: block;
                    font-size: 22px;
                    margin: 10px 0;
                }
            }
        }
        .view-images {
            background-color: #EEE;
            padding: 15px;
            display: none;
            .image {
                height: 130px;
                margin: 5px;
                border-radius: 5px;
                display: inline-block;
                vertical-align: top;
                .img {
                    height: 130px;
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    &:hover {
                        .remove-image {
                            transform: scale(1);
                        }
                    }
                    img {
                        max-width: 100%;
                        max-height: 100%;
                        border-radius: 5px;
                    }
                    .remove-image {
                        position: absolute;
                        top: -10px;
                        right: -7px;
                        width: 22px;
                        height: 22px;
                        text-align: center;
                        line-height: 22px;
                        border-radius: 50%;
                        background-color: #FFF;
                        border: 1px solid #999;
                        color: #a51e1e;
                        font-size: 15px;
                        cursor: pointer;
                        transform: scale(0);
                        transition: all 0.2s ease-in-out;
                    }
                }
            }
        }
    }
    .custom-file-drop {
        z-index: -1;
        position: absolute;
        transform: scale(0);
        opacity: 0;
        width: 0;
        height: 0;
    }
    &.single-image {
        .view-images {
            text-align: center;
            .image, .image .img{
                height: 200px;
            }
        }
    }
    &.is-dragover {
        background-color: #DDD;
        border-color: #3498db;
        .overlay-drop-image {
            transform: scale(0.85);
            .content-overlay {
                color: #777;
            }
        }
    }
    &.is-invalid {
        border-color: #e3342f;
    }
    &.contains-image {
        border-color: #999;
        .view-overlay {
            min-height: 100px;
            border-top: 2px dashed #999;
            .content-overlay {
                .icon {
                    font-size: 50px;
                    display: block;
                }
                .title {
                    display: block;
                    font-size: 18px;
                    margin: 5px 0;
                }
            }
        }
        .view-images {
            display: block;
        }
    }
}
